{% extends "base.html" %}

{% block body %}
<div class="maincontent">
    <div class="summary">
        <h1>Welcome to our <br>Professional community</h1>
        <img src="static/images/SVG.jpg" alt="">


    </div>
    <div class="mainform">

        <form action="#">
            <div class="loginform">
                <label for="name">Email or Phone</label>
                <input type="text" name="name" id="name">
                <label for="password" id="passwordtxt">Password</label>
                <input type="text" name="password" id="password">
                <a href="#">Forgot Password ? </a>
                <button>Sign in</button>
                <small>If you don't have registered yet <a href="#">Click here</a></small>
            </div>
        </form>
    </div>
    <div class="postjob">
        <h1>Post your job for <br> millions of people to <br> see</h1>
        <a href="/postjob"><button class="postjobbtn">Post a Job</button></a>
    </div>
</div>
<div class="footer">
    <div class="Heading">
        <h1>SK-Placements</h1>
    </div>
    <div class="footerul">
        <div>
            <ul>General
                <li>
                    <a href="#">Sign Up</a>
                </li>
                <li>
                    <a href="#">Help Center</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Press</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Careers</a>
                </li>
                <li>
                    <a href="#">Developers</a>
                </li>
            </ul>
        </div>

        <div>
            <ul>Browse LinkedIn
                <li>
                    <a href="#">Learning</a>
                </li>
                <li>
                    <a href="#">Jobs</a>
                </li>
                <li>
                    <a href="#">Salary</a>
                </li>
                <li>
                    <a href="#">Mobile</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Products</a>
                </li>
                <li>
                    <a href="#">Top Companies Hub</a>
                </li>

            </ul>
        </div>
        <div>
            <ul>Business Solutions
                <li>
                    <a href="#">Talent</a>
                </li>
                <li>
                    <a href="#">Marketing</a>
                </li>
                <li>
                    <a href="#">Sales</a>
                </li>
                <li>
                    <a href="#">Learning</a>
                </li>

            </ul>
        </div>
        <div>
            <ul>Directories
                <li>
                    <a href="#">Members</a>
                </li>
                <li>
                    <a href="#">Jobs</a>
                </li>
                <li>
                    <a href="#">Companies</a>
                </li>
                <li>
                    <a href="#">Featured</a>
                </li>
                <li>

                    <a href="#">Learning</a>
                </li>
                <li>

                    <a href="#"> Posts </a>
                </li>
                <li>

                    <a href="#">
                        Articles
                    </a>
                </li>
                <li>

                    <a href="#">Schools</a>
                </li>
                <li>

                    <a href="#"> News</a>
                </li>
                <li>

                    <a href="#">News Letters </a>
                </li>
                <li>

                    <a href="#">Services</a>
                </li>
                <li>

                    <a href="#">Products</a>
                </li>
                <li>

                    <a href="#">Advice</a>
                </li>
                <li>

                    <a href="#">People Search</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock body %}