<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SK-Placements | Post Job</title>
    <link rel="stylesheet" href="static/css/myhome.css">

    <link rel="stylesheet" href="static/css/postjob.css">
    
</head>

<body>
    <div class="submitcontainer">
        <h1 class="Heading">SK-Placements | <span>POST A JOB</span></h1>
        <a href="/"><button class="postbtn" style="width: 120px !important; ">Home</button></a>
        <div class="submitform">

            <form action="#">
                <div class="formlayout">
                    <h1
                        style="color: white;
                    font-size: 20px;
                    text-transform:capitalize;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                        Click To Upload <br> Company Image</h1>

                    <div class="imgupload">
                        <input type="file" name="imgfile" id="imgfile" accept="image/png, image/gif, image/jpeg"  required>

                    </div>
                    <input type="text" name="cname" id="cname" placeholder="Enter Name of Company" required>
                    <input type="email" name="cemail" id="cemail" placeholder="Enter Email of Company" required>
                    <input type="text" name="caddress1" id="caddress1" placeholder="Address1" required>
                    <input type="text" name="caddress2" id="caddress2" placeholder="Address2" required>
                    <input type="text" name="cpincode" id="cpincode" placeholder="pincode" required>
                    <input type="text" name="c_criteria" id="c_criteria" placeholder="criteria for job seeker" required>
                    <button class="postbtn" id="cbtn">Register</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</body>

</html>