<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SK-Placements | Welcome</title>
    <link rel="stylesheet" href="/static/css/welcome.css">
</head>

<body>
    <div class="container">
        <div class="start">
            <img src="/static/images/Official_LOGO.jpg" alt="">
            <div class="btn" style="margin-left: 51px;">
                <small>For Guest login click here</small><br>
                 <a href="/home">Let's Get Started </a>
            </div>

        </div>
        <div class="content">
            <h1>Welcome to <br>SK Placements</h1>
          <h2 style="padding-top: 20px;">Here You Get Your Desire Job</h2>
          <div class="inputbox">
            <form action="#">
                <div class="form-control">
                    <h1>Please Login Here</h1>
                    
                    <div class="inputusername">
                        <input type="text" name="" id="" placeholder="Username">
                    </div>
                    <div class="inputpasswd">
                        <input type="text" name="" id="" placeholder="Password">
                    </div>
                    <div class="inputbutton">
                        <button >Login</button>
                    </div>

                    <p >Another Logins</p>
                    <div class="anotherlogins">
                        
                        <img src="/static/images/Google.png" alt="">
                        <img src="/static/images/GitHub.png" alt="">
                        <img src="/static/images/LinkedIn (2).png" alt="">
                    </div>
                    <small><a href="/signin" class="smallfont">I don't have an account?</a></small>
                </div>
            </form>
          </div>
        </div>
    </div>
</body>

</html>





